#main{
width:auto;
height:auto;
color:white;
background-attachment:local;
}
body{
width:auto;
height:auto;
background-image:url("https://tc.phpx.cn/uploads/2023/06/04/UUzwsS75xL.webp");
background-size:100% 100%;
background-repeat:no-repeat;
color:white;
margin:0px;
padding:0px;
}
